@using System.Web.Mvc.Html
@model Models.Dto.RecipeDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
        <br />

        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
        <br />

        <label for="ingredients" class="control-label col-md-2">Ingredients:</label>
        <div id="ingredients" class="col-md-10">
            @foreach (var ingredient in Model.Ingredients)
            {
                @Html.Label(ingredient.Name)
                <br/>
            }

        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
